/* Site Stylesheet
  1. Global Styles
  2. Typography Styles
  3. Structure Styles
  4. Module Styles
  5. Component Styles
  6. Page Styles
======================================== */

/* 1. Global Styles
======================================== */


body {
    font-family: Roboto, sans-serif;
    background-image: url('https://content.codecademy.com/courses/learn-css-selectors-visual-rules/hypnotize_bg.png');
  }
  
/*  5. Component Styles
======================================== */
.input-error {
  border-color: #FC472E;
  width: 300px;
}


header{
  display: flex;
  padding: 20px 0px;
  align-items: center;
  justify-content: space-between;
  align-content: space-between;
  flex-direction: row;
}

input, select, textarea{
  margin-bottom: 15px;
}

.button-primary {
  background-color: #00CF63;
}

.right a{
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  font-size: 25px;
}

footer .row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}


h1{
  font-weight: 700;
  margin: 0;
  padding: 0px;
  font-size: 30px;
}

footer .row{
  margin-top: 0px;
}

.jumbotron{
  display: flex;
  align-items: center;
  background-size: cover;
  color: #ffffff;
  background-image: url("colin-watts-ulwN8mzZezU-unsplash.jpg");
  height: 400px;
}

.jumbotron h2{
  font-size: 60px;
  font-size: 700;
  margin: 0;
  color: #fff;
}

.aboutme{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.aboutme img{
  width:  300px;
  height: 300px;
}

.aboutme p{
  width: 50%;
}

section p{
  margin-top: 10px;
}

.education{
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0px;
  padding: 0;
}

.portrait p{
  text-align: center;
}


.education img {
  width:  100%;
  height: 300px;

}

.planguages{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.planguages img {
  width:  100%;
  height: 300px;
}

.planguages p{
  text-align: center;
}


.planguages img{
  max-height: 150px;
  max-width:  150px;
  z-index: 1;
  width: 100%;
}

@media only screen and (min-width: 320px) and (max-width: 768px) and (orientation: portrait){

  header{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .right{
    display: flex;
    font-size: 20px;
    flex-direction: column;
    text-align: center;
  }

  .left{
    align-items: center;
    text-align: center;
  }

  h1{
    font-size: 25px;
  }

  .aboutme p{
    width: 100%;
  } 

}

.toppings label{
  margin-right: 25px;
}

form {
  text-align: left;
  height: 80%;
  overflow: auto;
}

@media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: landscape){

  header{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-direction: column;
  }
  
  .right{
    display: flex;
    flex-direction: row;
    text-align: start;
  }

  .right a{
    font-size: 15px;
  }
  .left{
    align-items: flex-start;
    text-align: start;
  }

  h1{
    font-size: 20px;
  }

  .aboutme p{
    width: 100%;
  } 

}


@media only screen and (orientation: landscape){

  .right a{
    align-items: center;
    justify-content: space-around;
    padding: 0px;
    font-size: 22px;
    text-decoration: none;
  }

  .right a+a::before {
    color: red;
    padding: 10px;
    content: ">";
  }

}